<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
            (onNewTermino)="buscar( $event )"
            (onDebounce)="sugerir($event)"
            [buscarPor]="buscarPor"
        ></app-pais-input>
    </div>
</div>

<ul *ngIf="mostrarSugerencias" class="list-group">
    <li *ngFor="let pais of paisesSugeridos" 
        class="list-group-item list-group-item-action"
        [routerLink]="['/pais', pais.alpha2Code]"
    >
        <img class="flag" [src]="pais.flag" [alt]="pais.name">
        {{ pais.name }}
    </li>
    <li class="list-group-item list-group-item-action"
        (click)="buscarSugerencias( termino )"
    >
        Buscar: {{ termino }}
    </li>
</ul>

<hr>

<div class="alert alert-danger" *ngIf="hayError;">
    No se encontró nada con el término <b>{{ termino }}</b>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">

        <app-pais-tabla [paises]="paises" [titulo]="titulo"></app-pais-tabla>

    </div>
</div>
